*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.top-nav {
  background-color: #EDEDED;
}

#dropdownMenuButton {
  background-color:#021466; 
  font-weight: bold; 
  font-size: 0.8rem;
}

#mobile_nav {
  display: none;
}

@media screen and (max-width: 998px) {
  #main_nav, #logo_nav, #top_nav {
    display: none !important;
  }

  #mobile_nav {
    display: block;
  }
}
