*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.top-nav {
  background-color: #EDEDED;
}

#dropdownMenuButton {
  background-color:#021466; 
  font-weight: bold; 
  font-size: 0.8rem;
}